<form (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
        <input matInput name="idea" placeholder="What great idea do you have today?" [(ngModel)]="myIdea">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
</form>
<br>
<br>
<mat-card *ngFor="let idea of ideas | async">
    <mat-card-header>
        <mat-card-title>{{idea.text}}</mat-card-title>
        <mat-card-subtitle>{{idea.timestamp.seconds * 1000 | timeAgo}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>